<?xml version="1.0" encoding="utf-8" ?>
<plugin xmlns="xmlns://www.fortify.com/schema/pluginmanifest-1.1.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="PluginDescriptor"
        id="com.fortify.ssc.parser.cyclonedx.debricked" api-version="1.1">
    <plugin-info>
        <name>Debricked parser plugin for SSC 22.2+</name>
        <version><!--VERSION-->0.0<!--/VERSION--></version>
        <data-version>1</data-version>
        <vendor name="Micro Focus" url="https://www.microfocus.com"/>
        <description>Parser plugin for Debricked vulnerability data in CycloneDX format (results shown on SSC Audit and Open Source pages)</description>
        <resources>
            <localization>
                <language id="default" location="/resources/cyclonedx_en.properties"/>
                <language id="en" location="/resources/cyclonedx_en.properties"/>
            </localization>
            <images>
                <image imageType="icon" location="/images/debricked-icon.png"/>
                <image imageType="logo" location="/images/debricked-logo.png"/>
            </images>
        </resources>
    </plugin-info>
    <issue-parser xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <engine-type>DEBRICKED</engine-type>
        <supported-engine-versions>[1.2, 1.4]</supported-engine-versions>
        <view-template location="/viewtemplate/ViewTemplate.json">
            <description>Default CycloneDX vulnerability view template.</description>
        </view-template>
        <parser-type>OPENSOURCE</parser-type>
    </issue-parser>
</plugin>

